index.css
* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2-menu {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    padding-top: 15%;
    padding-left: 85%;
}

h2 {
    font-size: 2em;
    color: #000000;
    text-align: center;
}

.inputbox2 {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

    .inputbox2 label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #000000;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

    /* animation:end */
    .inputbox2 input {
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        color: #000000;
    }


.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
}

    .inputbox label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        color: #000000;
        font-size: 1em;
        pointer-events: none;
        transition: 0.5s;
    }

/* animations: start */
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

/* animation:end */
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #000000;
    font-size: 1.2em;
    top: 20px;
}

.registrationFormAlert {
    margin: -10px 0 17px;
    font-size: 0.9em;
    color: red;
    display: flex;
    justify-content: center;
}

.forget {
    margin: -10px 10px 17px;
    font-size: 0.9em;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

    .forget label input {
        margin-right: 3px;
    }

    .forget a {
        color: #000000;
        text-decoration: none;
    }

        .forget a:hover {
            text-decoration: underline;
        }

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.submit {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: 0.9em;
    color: #000000;
    text-align: center;
    margin: 25px 0 10px;
}

    .register p a {
        text-decoration: none;
        color: #000000;
        font-weight: 600;
    }

        .register p a:hover {
            text-decoration: underline;
        }


/*game*/
.body_game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    border: 1px solid black;
    justify-content: center
}

.nextFigure {
    border: 1px solid black;
    margin-left: auto;
    margin-right: 0;
}

.form-box-menu {
    position: relative;
    width: 800px;
    height: 600px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
}

.login {
    font-size: 25px;
    margin-bottom: 100px;
    margin-right: 15%;
}

.inputbox-menu {
    position: relative;
    margin: 30px 0;
    width: 410px;
}

.button-menu {
    display: block;
    position: relative;
    left: 70%;
    width: 60%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 3%;
    margin-bottom: 3%;
    color: black;
    text-align: center;
    padding-top: 2%;
    text-decoration: none;
}

.button-play {
    display: block;
    position: relative;
    left: 65%;
    width: 70%;
    height: 60px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
    text-align: center;
    text-decoration: none;
    padding-top: 2%;
}

    .button-play:hover {
        color: black;
        background: gray;
    }

.button-menu:hover {
    color: black;
    background: gray;
}

.img {
    position: absolute;
    display: flex;
    right: 3%;
    height: 20%;
    width: 20% margin-right:10%;
}

.image {
    position: static;
    padding-right: 20px;
    height: 30%;
    width: 30%;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-box-levels {
    position: relative;
    width: 60rem;
    height: 35rem;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
}

.h2-levels {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    padding-top: 2%;
    padding-left: 5%;
    width: 100%;
}

.levels {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    border: 3px solid black;
    margin-bottom: 5%;
    border-collapse: collapse;
    border-spacing: 0;
}
.levels th, .levels td {
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.levels .active .td1:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 105%;
    border-top: 3px solid #00008B;
    border-bottom: 3px solid #00008B;
}

.levels .active .td1:first-child:after {
    border-left: 3px solid #00008B;
}

.levels .active .td1:last-child:after {
    border-right: 3px solid #00008B;
    width: auto;
}

.levels .hover .td1:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 105%;
    border-top: 3px solid #1E90FF;
    border-bottom: 3px solid #1E90FF;
}

.levels .hover .td1:first-child:after {
    border-left: 3px solid #1E90FF;
}

.levels .hover .td1:last-child:after {
    border-right: 3px solid #1E90FF;
    width: auto;
}


.td1 {
    width: 9.6rem;
    text-align: center;
    border: 3px solid black;
}
.td {
    width: 9.6rem;
    text-align: center;
    border: 3px solid black;
}

.button-levels {
    position: relative;
    width: 30%;
    height: 20%;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-left: 18%;
}
.button-levels2 {
    position: relative;
    width: 30%;
    height: 20%;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 1%;
    margin-left: 15%;
}

    .button-levels:hover {
        background: gray;
        color: black;
    }

.form-box-glass {
    position: relative;
    width: 30rem;
    height: 35rem;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
}

.h2-glass {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    padding-top: 2%;
    padding-left: 5%;
    width: 100%;
}

.glasses {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    border: 3px solid black;
    margin-bottom: 5%;
    border-collapse: collapse;
    border-spacing: 0;
}

    .glasses th, .glasses td {
        border: 3px solid black;
        padding: 10px;
        text-align: center;
        vertical-align: middle;
        position: relative;
        cursor: pointer;
    }

    .glasses .active .td2:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 105%;
        border-top: 3px solid #00008B;
        border-bottom: 3px solid #00008B;
    }

    .glasses .active .td2:first-child:after {
        border-left: 3px solid #00008B;
    }

    .glasses .active .td2:last-child:after {
        border-right: 3px solid #00008B;
        width: auto;
    }

    .glasses .hover .td2:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 105%;
        border-top: 3px solid #1E90FF;
        border-bottom: 3px solid #1E90FF;
    }

    .glasses .hover .td2:first-child:after {
        border-left: 3px solid #1E90FF;
    }

    .glasses .hover .td2:last-child:after {
        border-right: 3px solid #1E90FF;
        width: auto;
    }

.td2 {
    width: 14.4rem;
    text-align: center;
    border: 3px solid black;
}
.td3 {
    width: 14.4rem;
    text-align: center;
    border: 3px solid black;
}

.button-glass {
    left: 10%;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-left: 8%;
}

    .button-glass:hover {
        background: gray;
    }

button:hover {
    background: gray;
}

.form-box-lvl {
    width: 40rem;
    height: 35rem;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
}

.field {
    width: 100%;
    display: inline-block;
    margin-bottom: 3%;
}

.h2-lvl {
    font-size: 2em;
    color: #000000;
    text-align: center;
    padding-top: 3%;
    width: 100%;
    margin-bottom: 3%;
}

.label-lvl {
    font-size: 1.8em;
    color: #000000;
    padding-left: 7%;
}

.select1 {
    margin-left: 5%;
    width: 20%;
    height: 10%;
    font-size: 1.5em;
    background: white;
}
.select2 {
    margin-left: 5%;
    width: 20%;
    height: 10%;
    font-size: 1.5em;
    background: white;
}

.btn-lvl {
    margin-top: 15%;
    margin-left: 31%;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.btn-lvl2 {
    margin-left: 5%;
    width: 25%;
    height: 30px;
    border-radius: 20px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.label-lvl2 {
    margin-left: 5%;
    width: 20%;
    height: 10%;
    font-size: 1.5em;
    background: white;
    cursor: default;
    border-width: 1px
}

/*Поле для игры*/


.field_of_play {
    display: flex;
    justify-content: center;
    display: inline-block;
}

.button_two {
}

.button2 {
    float: right;
    text-align: center;
}

.time {
    text-align: center;
}

.canvas_field {
    float: left;
    width: 65%;
    overflow: hidden;
}

.right_field {
    overflow: hidden;
    margin-left: 50px;
}

.element {
    text-align: center;
    margin: 10px;
}
