@model EditGlass
<!-- Modal -->
<div class="modal fade" id="edit-glass" tabindex="-1" role="dialog" aria-labelledby="EditGlassLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title-glass" id="EditGlassLabel">Стакан</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-page-handler="ViewEditGlass">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" type="hidden" class="form-control3" id ="id"/>
                    <span asp-validation-for="Id" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="Height">Высота</label>
                        <input asp-for="Height" class="form-control1" id ="h"/>
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Width">Ширина</label>
                        <input asp-for="Width" class="form-control2" id ="w"/>
                        <span asp-validation-for="Width" class="text-danger"></span>
                    </div>
                    <input asp-for="HW" type="hidden" class="form-control4" id ="hw"/>
                    <span asp-validation-for="HW" class="text-danger"></span>
                    <script>
                        document.getElementById('h').value = w;
                        document.getElementById('w').value = h;
                        document.getElementById('id').value = iddd;
                        document.getElementById('hw').value = hw;
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>