@model SetOfShapes
<!-- Modal -->
<div class="modal fade" id="add-contact" tabindex="-1" role="dialog" aria-labelledby="addContactLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addContactLabel">Выберите фигуры</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <input asp-for="shapes" class="form-control" type="hidden"></input>
                <div class="div_figures" id="div_figures">
                    
                </div>
                <buttton type="button" class="btn btn-primary" data-save="modal">Добавить</buttton>
                <script> 
                    
                    let level_id_mode = id_level;

                    const l3 = '@String.Join(",",Model.figu)';
                    const figures = l3.split(',');

                    const l4 = '@String.Join(";",Model.setFiguLevel)';
                    const setFiguLevel = l4.split(';');

                    let figu = new Array();
                    let figu_k = 0;

                    for(let i = 0; i<setFiguLevel.length;i++){
                        const dop2 = setFiguLevel[i].split(',');
                        if (dop2[0] == level_id_mode) {
                            figu[figu_k] = Number(dop2[1]);
                            figu_k++;
                        }
                    }
                    const grid = 32;

                    let canvases = [];
                    let contexts = [];
                    
                    makeCanvasesFilledWithGrass();
                    
                    function fingFugureInSet(number) {
                        for (let h = 0; h < figu.length; h++) {
                            if (number == figu[h]) { return true;}
                        }
                        return false;
                    }


                    function makeCanvasesFilledWithGrass() {

                        // get the div that we will fill with 25 canvases
                        let container = document.getElementById('div_figures');

                        for (let i = 0; i < figures.length; i++) {
                            let ii = i + 1;
                            let div = document.createElement("div");
                            div.id = 'divFigu' + ii;
                            div.class = 'divShape';
                            // create a new html canvas element
                            let canvas = document.createElement("canvas");
                            // assign the new canvas an id, width and height
                            canvas.id = 'figureCheck' + ii;
                            canvas.width = grid * 4;
                            canvas.height = grid * 4;
                            // get the context for this new canvas
                            let ctx = canvas.getContext("2d");
                            // draw the grass image in the new canvas

                            for (let row = 0; row < 4; row++) {
                                for (let col = 0; col < 4; col++) {
                                    if (figures[i][row * 4 + col] == '1') {
                                        ctx.fillRect(col * grid, row * grid, grid - 1, grid - 1);
                                    }
                                    else {
                                        ctx.lineWidth = 0.5;
                                        ctx.strokeRect(col * grid, row * grid, grid - 1, grid - 1);
                                    }
                                }
                            }
                            // add this new canvas to the web page
                            div.appendChild(canvas);
                            let check = document.createElement('input');
                            check.type = 'checkbox';
                            check.id = 'figureCheckBox' + ii;
                            if (fingFugureInSet(ii)){
                                check.checked = true;
                                                }
                            else { check.checked = false; }
                            div.appendChild(check);
                            container.appendChild(div);
                            // add this new canvas to the canvases array
                            canvases[i] = canvas;
                            // add the context for this new canvas to the contexts array
                            contexts[i] = ctx;
                        }
                    }
                    
                </script>
            </div>
        </div>
    </div>
</div>