@page
@model tetris.Pages.AboutSystemModel
@{
}
<body>
    <div id="div1"></div>
    <script>
        let err = @Model.isError;
        if (err==0){
        let str = '@String.Join("",Model.textHTML)';

        str = str.replace(/&lt;/g, "<");
        str = str.replace(/&gt;/g, ">");
        str = str.replace(/&quot;/g, "\"");
        str = str.replace(/&#10;/g, "");
        str = str.replace(/&amp;/g, "&");

        const words = str.split('<img class="image" src="~/');
        for (let i = 0; i < words.length; i++) {
            if (words[i].includes("image")) {
                let index = words[i].indexOf('">');
                let nameIm = words[i].substr(0, index);

                
                
                var div = document.createElement('div');
                // Define the image tag and html directly and then apply to innerHTML in this way
                div.innerHTML = '<center><img class="image" src = "' + nameIm + '" /></center> <a href="#top" id="back-to-top" class="back-to-top">Вернуться наверх</a>';

                document.getElementById('div1').appendChild(div);

                document.getElementById('div1').innerHTML += words[i].substr(words[i].indexOf('">') + 2);;
            }
            else{
                document.getElementById('div1').innerHTML += words[i];
            }
        }
        }else{
            alert('Файл справки не найден!');
        }

    </script>
</body>

