@page
@model tetris.Pages.FiguresModel
@{
    ViewData["Title"] = "Фигуры";
}
<body>
    <h1>Фигуры</h1>
    <form method="POST" onsubmit="">
        <div class="block_1">
            <button id="back" onclick="buttonBack()">Назад</button>
            <div class="figure">
                <canvas width="128" height="128" id="figure" class="figure"></canvas>
                <script>
                    function showFigure(context) {
                        
                    }

                    const canvas = document.getElementById('figure');
                    const context = canvas.getContext('2d');
                    const grid = 32;
                    

                    context.fillStyle = '#000000'; //для линий

                    context.strokeStyle = 'rgba(0,0,0,1)'; //для закрашенных фигур
                    if (@Model.k < @Model.figure_count) {
                        
                    }
                    }
                    else{
                        for (let row = 0; row < 4; row++) {
                            for (let col = 0; col < 4; col++) {
                                    context.lineWidth = 0.5;
                                    context.strokeRect(col * grid, row * grid, grid - 1, grid - 1);
                            }
                        }
                    }
                    function buttonBack() {
                        var vv = $("#k").val();
                        vv--;
                        $("#k").val(vv);

                    }
                    function buttonFor() {
                        var vv = $("#k").val();
                        vv++;
                        $("#k").val(vv);
                    }

                </script>
            </div>
            <button id="for" onclick="buttonFor()">Вперед</button>
            <label>@Model.k</label>
            <label>@Model.figure_count</label>

        </div>
    </form>
</body>