@page
@model tetris.Pages.GlassesModel
@{
    ViewData["Title"] = "Стаканы";
}
<body>
    <section>
        <div class="form-box-glass">
            <div class="form-value">
                <h2 class="h2-glass">Стаканы</h2>
                <form method="GET" name="formGlasses">
                    <div class="content">
                        <script>
                            let k = 0;
                            let l2 = '@String.Join(".",Model.glasses_str)';

                            let lvl = l2.split('.');
                            let lvl_array = new Array(@Model.glass_count);

                            for (let j = 0; j < lvl_array.length; j++) {
                                lvl_array[j] = new Array(2);
                                let l = lvl[j].split(';');
                                for (let i = 0; i < 2; i++) {
                                    lvl_array[j][i] = l[i];
                                }
                            }

                                document.querySelector('.content').innerHTML = `<table class="glasses"></table>`;
                                let row = document.createElement('tr');
                                row.innerHTML = `
                                                <td class="td3">Номер</td>
                                                <td class="td3">Размер</td>
                                                `;
                                document.querySelector('.glasses').appendChild(row);
                                for (let i = 0; i < lvl_array.length; i++) {
                                    let rw = document.createElement('tr');
                                        rw.innerHTML = `<td class="td2">${lvl_array[i][0]}</td>
                                        <td class="td2">${lvl_array[i][1]}</td>`;
                                    document.querySelector('.glasses').appendChild(rw);
                                }
                        </script>
                        <button class="button-glass" data-toggle="ajax-modal" data-url="@Url.Page("Glasses", "ViewEditGlass")">Добавить стакан</button>
                        <button class="button-glass" data-toggle="ajax-modal" data-url="@Url.Page("Glasses", "ViewEditGlass")">Редактировать стакан</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    $('.glasses tr').hover(function(){
        $(this).addClass('hover');
    }, function() {
        $(this).removeClass('hover');
    });

    $('.glasses tr').click(function(){
        $('.glasses tr').removeClass('active');
        $(this).addClass('active');
    });
});
    </script>
</body>
