@page
@model IndexModel
@{
    ViewData["Title"] = "Играть онлайн";
}
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST">
                    <h2>Авторизация</h2>
                    <div class="inputbox2">
                        <ion-icon name="mail-outline" href="login.png"></ion-icon> <input type="text" name="login" id="login" placeholder="Логин" required>
                    </div>
                    <div class="inputbox2">
                        <ion-icon name="lock-closed-outline"></ion-icon> <input type="password" name="pass" id="pass"
                                                                                placeholder="Пароль" varequired>
                    </div>
                    <div class="forget"> <label><input type="checkbox" class="password-checkbox-auto">Показать пароль</label></div>
                    <button>Войти</button>
                    <div class="register">
                        <p>Нет аккаунта? <a asp-page="/Registration">Зарегистрироваться</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
