@page
@model tetris.Pages.Menu_adminModel
@{
    ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div id="modal-placeholder"></div>
        <div class="form-box-menu">
            <div class="form-value">
                <form class="form" method="POST" onsubmit="">
                    <div class="img">
                        <img class="image" src="images/login.png">
                        <p class="login">Администратор</p>
                    </div>
                    <h2 class="h2-menu">Тетрис</h2>
                    <div class="inputbox-menu">
                        <a class="button-menu" asp-page="/Levels">Уровни сложности</a>

                        <a class="button-menu" asp-page="/Glasses" >Стаканы</a>

                        <a class="button-menu" asp-page="/Figures">Фигуры</a>

                        <a class="button-menu" asp-page="/AboutSystem2">О системе</a>

                        <button type="button" class="button-menu" data-toggle="ajax-modal3" data-url="@Url.Page("Menu_admin", "ViewModalInfo")">
                            О разработчиках
                        </button>
                    </div>
                    <script>
                        function openModal(parameters){
                            const url = parameters.url;
                            const modal = $('#modal');

                            $.ajax({
                                type: 'GET',
                                url: url,
                                success: function(response){
                                    modal.find(".modal-body").html(response);
                                    modal.modal('show')
                                },
                                failure: function(){
                                    modal.modal('hide')
                                },
                                erroe: function(response){
                                    alert(response.responseText);
                                }
                            });
                        };
                    </script>
                </form>
            </div>
        </div>
    </section>
</body>