@page "{login}/{color}/{mus}/{setka}/{next_figu}"
@model tetris.Pages.Menu_userModel
@{
    ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div id="modal-placeholder"></div>
        <div class="form-box-menu">
            <div class="form-value">
                <form class="form" method="POST" onsubmit="">
                    <div class="img">
                        <img class="image" src="~/image/login.png">
                        <p class="login">@RouteData.Values["login"]</p>
                        
                    </div>
                    <h2 class="h2-menu">Тетрис</h2>
                    <div class="inputbox-menu">
                        <a class="button-play" asp-page="/GameSettings" asp-route-login=@RouteData.Values["login"]
                           asp-route-color=@Model.color
                           asp-route-mus=@Model.mus
                           asp-route-setka=@Model.setka
                           asp-route-next_figu=@Model.next_figu>Играть</a>
                    </div>
                    <div class="inputbox-menu">
                        <a class="button-menu" asp-page="/Statictics" asp-route-login=@RouteData.Values["login"]>Статистика</a>

                        <a class="button-menu" asp-page="/Settings" asp-route-login=@RouteData.Values["login"]
                           asp-route-color=@Model.color
                           asp-route-mus=@Model.mus
                           asp-route-setka=@Model.setka
                           asp-route-next_figu=@Model.next_figu>Настройки</a>

                        <button class="button-menu">О системе</button>

                        <button type="button" class="button-menu" data-toggle="ajax-modal3" data-url="@Url.Page("Menu_user", "ViewModalInfo")">
                            О разработчиках
                        </button>


                        <audio src="~/music/mus.mp3" id="music"></audio>
                        <script>
                            let mus = '@String.Join("",Model.mus)';
        document.getElementById('music').hidden = true;
        if (mus!= 'null') { 
            document.getElementById('music').autoplay = true; 
        }
                        </script>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

