@page "{login}"
@model tetris.Pages.Menu_userModel
@{
    ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div class="form-box-menu">
            <div class="form-value">
                <form class="form" method="POST" onsubmit="">
                    <div class="img">
                        <img class="image" src="login.png">
                        <p class="login">@RouteData.Values["login"]</p>
                    </div>
                    <h2 class="h2-menu">Тетрис</h2>
                    <div class="inputbox-menu">
                        <a class="button-play" asp-page="/GameSettings">Играть</a>
                    </div>
                    <div class="inputbox-menu">
                        <a class="button-menu">Статистика</a>

                        <a class="button-menu" asp-page="/Settings">Настройки</a>

                        <button class="button-menu">О системе</button>

                        <button class="button-menu">О разработчиках</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

