@page
@model tetris.Pages.Menu_adminModel
@{
    ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div class="form-box-menu">
            <div class="form-value">
                <form class="form" method="POST" onsubmit="">
                    <div class="img">
                        <img class="image" src="images/login.png">
                        <p class="login">Администратор</p>
                    </div>
                    <h2 class="h2-menu">Тетрис</h2>
                    <div class="inputbox-menu">
                        <a asp-page="/Levels">Уровни сложности</a>

                        <button class="button-menu">Стаканы</button>

                        <a asp-page="/Figures">Фигуры</a>

                        <button class="button-menu">О системе</button>

                        <button class="button-menu">О разработчиках</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>