@page
@model tetris.Pages.Menu_userModel
@{
ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="POST" onsubmit="">
			<label>Игрок</label>
                    <h2>Тетрис</h2>
                    <div class="inputbox">
			<button>Играть</button>
                    </div>
                    <div class="inputbox">
			<button>Статистика</button>
                    </div>
                    <div class="inputbox">
			<button>Настройки</button>
   		
			<button>О системе</button>
   		
			<button>О разработчиках</button>
   		</div>
                </form>
            </div>
        </div>
    </section>
</body>
