@page "{login}"
@model tetris.Pages.Menu_userModel
@{
    ViewData["Title"] = "Меню";
}

<body>
    <section>
        <div id="modal-placeholder"></div>
        <div class="form-box-menu">
            <div class="form-value">
                <form class="form" method="POST" onsubmit="">
                    <div class="img">
                        <img class="image" src="login.png">
                        <p class="login">@RouteData.Values["login"]</p>
                        
                    </div>
                    <h2 class="h2-menu">Тетрис</h2>
                    <div class="inputbox-menu">
                        <a class="button-play" asp-page="/GameSettings" asp-route-login=@RouteData.Values["login"]>Играть</a>
                    </div>
                    <div class="inputbox-menu">
                        <a class="button-menu" asp-page="/Statictics" asp-route-login=@RouteData.Values["login"]>Статистика</a>

                        <a class="button-menu" asp-page="/Settings">Настройки</a>

                        <button class="button-menu">О системе</button>

                        <button type="button" class="button-menu" data-toggle="ajax-modal" data-url="@Url.Page("Menu_user", "ViewModalInfo")">
                            О разработчиках
                        </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>

