@page
@model tetris.Pages.SettingsModel
@{
	ViewData["Title"] = "Настройки";
}
<body>
	<section>
		<div class="form-box-sett">
			<div class="form-value">
				<form method="GET" name="SettingsForm">
					<h2 class="h2-sett">Настройки<h2>
			<div class="field2">

			</div>
			<div class="field22" align="left">
				<label class="label-sett" align="left">Уровень сложности</label>
				<select class="select22" name="speed" id="select22" align="left">
				</select>
			</div>
			<script>

			</script>
				</form>
			</div>
		</div>
	</section>
</body>
