@page
@model tetris.Pages.SettingsModel
@{
	ViewData["Title"] = "Настройки";
}
<body>
	<section>
		<div class="form-box-sett">
			<div class="form-value">
				<form method="POST">
					<h2 class="h2-sett">Настройки</h2>
			<div class="field2">

			</div>
			<div class="field22" align="left">
			</div>
			<script>

			</script>
				</form>
			</div>
		</div>
	</section>
</body>
