@page
@model tetris.Pages.SettingsModel
@{
    ViewData["Title"] = "Настройки";
}
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <a asp-page="/Game">Играть</a>

            </div>
        </div>
    </section>
</body>