@page "{login}"
@model tetris.Pages.StaticticsModel
@{
    ViewData["Title"] = "Статистика";
}
<body>
    <section>
        <div id="modal-placeholder"></div>
        <div class="form-box-glass">
            <div class="form-value">
                <h2 class="h2-glass">Статистика</h2>
                    <div class="content">
                        <label id="12"></label>
                        <script>

                        const l2 = '@String.Join(",",Model.time)';
                        const time_mas = l2.split(',');

                        const l3 = '@String.Join(",",Model.point)';
                        const point_mas = l3.split(',');

                        document.getElementById('12').innerHTML = point_mas;


                                document.querySelector('.content').innerHTML = `<table class="statictics"></table>`;
                                let row = document.createElement('tr');
                                row.innerHTML = `
                                                <td class="td3">По времени</td>
                                                <td class="td3">По очкам</td>
                                                `;
                       

                        let mm = Math.max(point_mas.length, time_mas.length);
                            document.querySelector('.statictics').appendChild(row);
                        for (let i = 0; i < mm; i++) {
                                    let rw = document.createElement('tr');
                                    let pp, tt;
                            if (point_mas.length <= i) {
                                if (time_mas[i] == '00:00:00') {
                                    tt = ' ';
                                    break;
                                }
                                else {
                                    tt = time_mas[i];
                                }
                                pp = ' ';
                            }
                            else {
                                if (time_mas.length <= i) {
                                    pp = point_mas[i];
                                    tt = ' ';
                                } else {
                                    pp = point_mas[i];
                                    if (time_mas[i] == '00:00:00') {
                                        tt = ' ';
                                    }
                                    else {
                                        tt = time_mas[i];
                                    }
                                }
                            }

                            rw.innerHTML = `<td class="td2">${tt}</td>
                                                                    <td class="td2">${pp}</td>`;
                                document.querySelector('.statictics').appendChild(rw);
                                }
                        </script>
                        </div>
                
            </div>
        </div>
    </section>
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
    $('.glasses tr').hover(function(){
        $(this).addClass('hover');
    }, function() {
        $(this).removeClass('hover');
    });

    $('.glasses tr').click(function(){
        $('.glasses tr').removeClass('active');
        $(this).addClass('active');
    });
});
    </script>
</body>
